{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur le meilleur réseau d'appartement !
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur StrataigeApiTest </h1>
            <p class="lead">Interface Api Test!</p>
            <hr class="my-4">
            
        </div>
        
        
    </div>
{% endblock %}
